*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
  letter-spacing: 1px;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-size: 2rem;
}

h2 {
  color: hsl(14, 45%, 36%);
}

.prep-heading {
  font-weight: 600;
  color: hsl(332, 51%, 32%);
  font-size: 1.5rem;
  margin: 0;
}

.prep-item::marker {
  color: hsl(332, 51%, 32%);
}

ul,
ol {
  padding-left: 1.5em;
}

li,
p {
  color: hsl(30, 10%, 34%);
}

li {
  padding-left: 1em;
  margin-bottom: 1em;
  margin-left: 0;
}

li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.nutrition-desc {
  max-width: 300px;
}

.nutrition-value {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}

.nutrition-table:last-child {
  border-bottom: none;
}

img {
  width: 100%;
}

section {
  width: 83%;
  margin: auto;
}

.prep-info {
  background-color: hsl(330, 100%, 98%);
  padding: 1em;
  border-radius: 1em;
}

.nutrition-table {
  border-collapse: collapse;
  width: 100%;
  padding: 5em 0;
}

td {
  padding: 1em 0;
}

section,
.table-row {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

section:last-of-type,
.table-row:last-of-type,
section:first-of-type {
  border-bottom: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2em 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 100px) {
  body {
    background-color: hsl(30, 54%, 90%);
  }

  h1 {
    font-size: 3rem;
    margin: 0.5em 0;
  }

  h2 {
    font-size: 2rem;
  }

  .recipe-description {
    margin-bottom: 3em;
  }

  .ingredient:last-of-type {
    margin-bottom: 3em;
  }

  .instruction-item {
    max-width: 625px;
  }

  .nutrition-desc {
    max-width: 625px;
  }

  .container {
    background-color: white;
    width: 45%;
    margin: 3em auto 0 auto;
    border-radius: 2em;
  }

  .hero {
    overflow: auto;
    width: 90%;
    margin: 0 auto 0 auto;
  }

  img {
    margin-top: 3em;
    border-radius: 1.5em;
  }

  section {
    width: 90%;
  }

  section:last-of-type {
    padding-bottom: 1.5em;
  }

  .nutrition-value {
    width: 48%;
  }

  .nutrition-name {
    padding-left: 2em;
  }

  .attribution {
    margin-bottom: 3em;
  }
}
